<center>
<div class="container">
	<h1>About</h1>
	<hr>
	<br>
	<div class="row">
		<div class="col-lg-12">
  		<img class="img-circle" src="images/profile.jpg" alt="Generic placeholder image" width="200">
  		<h2>Mayank Mohindra</h2>
  		<p>
<pre>
Undergrad, IIIT-Delhi
Developer and Designer
<br>
mayank15056@iiitd.ac.in
Find me on GitHub:
<a href="https://github.com/mayankmtg">https://github.com/mayankmtg</a>

</pre>
  
  		</p>
	</div>
	<!-- /.col-lg-4 -->
	
	</div><!-- /.row -->
</div>
</center>