<div class="col-sm-4">
	<div class="panel panel-danger" style="overflow-y: scroll; " >
		<div class="panel-heading">
		<center>
              	<h3 class="panel-title">Chats</h3>
              	</center>
		</div>
            		<div class="panel-body" style="max-height: 80vh;">
              		<div class="list-group" style="padding: 0;">
		            	<a href="#" class="list-group-item">
				<h4 class="list-group-item-heading">List group item heading</h4>
		              	<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
		            </a>
            		</div>
          	</div>
			
            
          </div>
</div>
<div class="col-sm-8">
	<div class="panel panel-danger" style="" >
		<div class="panel-heading">
		<center>
              	<h3 class="panel-title">Anything</h3>
              	</center>
		</div>
            		<div class="panel-body" style="overflow-y: scroll; min-height: 70vh; max-height: 70vh;">
              		<div class="list-group" style="padding: 0;">
				<a href="#" class="list-group-item chat pull-left">Senders Message</a>
				<a href="#" class="list-group-item chat pull-right">Recievers Message</a>
				<a href="#" class="list-group-item chat pull-right">Recievers Message</a>
				<a href="#" class="list-group-item chat pull-right">Recievers Message</a>
				<a href="#" class="list-group-item chat pull-left">Full TextFull TextFull TextFull TextFull TextFull TextFull Text</a>
            			</div>
    		</div>
            		<div class="panel-footer" style="min-height: 10vh; max-height: 10vh;background-color: white; border: none;" >
            			<form>
			    <div class="input-group">
				<input type="text" class="form-control" placeholder="Type a message" style="font-size: 16px;">
				<span class="input-group-btn">
					<button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-chevron-right"></span></button>
				</span>
				</div>
			</form>
            		</div>
          	</div>
			
            
          </div>
</div>