<div class="col-sm-4">
	<div class="panel panel-danger" style="overflow-y: scroll; " >
		<div class="panel-heading">
		<center>
              	<h3 class="panel-title">Chats</h3>
              	</center>
		</div>
            		<div class="panel-body" style="max-height: 70vh; min-height: 70vh;">
              		<div class="list-group" style="padding: 0;">
		            	<div class="list-group-item" style="cursor: pointer;" ng-repeat="friend in waddleFriends" ng-click="waddleChatroom(friend.fUname, friend.fUid)">
				<h4 class="list-group-item-heading">{{friend.fUname}}</h4>
		              	<p class="list-group-item-text">{{friend.fUid}}</p>
		            </div>
            			</div>
          		</div>
          		<div class="panel-footer" style="min-height: 10vh; max-height: 10vh;background-color: white; border: none;" >
            			<form ng-submit="addWaddleFriend()">
			    <div class="input-group">
				<input type="text" class="form-control" placeholder="Username of Friend" style="font-size: 16px;" ng-model="friendUname">
				<span class="input-group-btn">
					<button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-plus"></span></button>
				</span>
				</div>
			</form>
            		</div>
          </div>
</div>
<div class="col-sm-8">
	<div class="panel panel-danger" style="" >
		<div class="panel-heading">
		<center>
              	<h3 class="panel-title">{{fUname}}</h3>
              	</center>
		</div>
            		<div class="panel-body" style="overflow-y: scroll; min-height: 70vh; max-height: 70vh;">
              		<div class="list-group" style="padding: 0;">
				<div href="#" ng-repeat="m in messages" class="list-group-item chat pull-{{ m.sent }}">{{ m.msg }}</div>
            			</div>
    		</div>
            		<div class="panel-footer" style="min-height: 10vh; max-height: 10vh;background-color: white; border: none;" >
            			<form ng-submit="waddleSend()">
			    <div class="input-group">
				<input type="text" class="form-control" placeholder="Type a message" style="font-size: 16px;" ng-model="message">
				<span class="input-group-btn">
					<button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-chevron-right"></span></button>
				</span>
				</div>
			</form>
            		</div>
          	</div>
			
            
          </div>
</div>