<br><br>
<div class="container">
	<div class="row">
		<div class="col-sm-5 pull-left">
		<div class="pull-right">
			<span class="rainbow lrge">W</span>

		</div>
		</div>
		<div class="col-sm-1">
			&nbsp;
		</div>
		<div class="col-sm-6 pull-right">
		<div class="pull-left">
			<br>
			<h1 style="font-size: 50px">The<br> </h1>
			<h1 style="font-size: 50px">Pre-eminent<br></h1>
			<h1>Chat Location...</h1>
			<br>
			<button type="button" class="button" ng-click="waddleStart()">Get Started</button>
			<a type="button" class="button" href="https://github.com/mayankmtg/waddle-chat">GitHub</a>
		</div>
		</div>
	</div>
	<hr>
	<br><br><br>
	<center>
	<div class="row">
		<div class="col-md-12">
			<h1> Features</h1>
		</div>
	</div>
	<br><br><br>
	<div class="row">
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x "></i>
				<i class="fa fa-clock-o fa-stack-1x feature-icon"></i>
			</span>
			<h4 class="service-heading">Real-Time</h4>
			<p class="text-muted">The Chat messages are sent instantly, that is in real time using the Firebase Real-Time Database.</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x "></i>
				<i class="fa fa-laptop fa-stack-1x feature-icon"></i>
			</span>
			<h4 class="service-heading">Responsive Design</h4>
			<p class="text-muted">The Web-App has a mobile site as well and is responsive to the screen size so that one does not have to lose information while using on their various electronic devices.</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x "></i>
				<i class="fa fa-lock fa-stack-1x feature-icon"></i>
			</span>
			<h4 class="service-heading">Web Security</h4>
			<p class="text-muted">The rules for message viewing and sending does not involve encryption but since the communication with the database is secure, only the endd users can see the messages.</p>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x "></i>
				<i class="fa fa-user-plus fa-stack-1x feature-icon"></i>
			</span>
			<h4 class="service-heading">User-Names</h4>
			<p class="text-muted">Provides option to instantly add friends to your list and have a completely secure and private chatroom, only on the basis of usernames. Easy-as-F***..:P</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x "></i>
				<i class="fa fa-code fa-stack-1x feature-icon"></i>
			</span>
			<h4 class="service-heading">Open Source</h4>
			<p class="text-muted">The chat application is completely open source and is also user friendly. It is coded in the most naive sense and so is easy to understand. Code on Github</p>
		</div>
		<div class="col-md-4">
			<span class="fa-stack fa-4x">
				<i class="fa fa-circle fa-stack-2x "></i>
				<i class="fa fa-globe fa-stack-1x feature-icon"></i>
			</span>
			<h4 class="service-heading">Reliable</h4>
			<p class="text-muted">Your sent messages shall be sent only when you are connected to internet.</p>
		</div>
	</div>
	<br><br>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<h1>Technologies Used</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>HTML</h3>
		</div>
		<div class="col-md-6">
			<h3>CSS</h3>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<h3>Javascript</h3>
		</div>
		<div class="col-md-6">
			<h3>Bootstrap</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h3>Angular1.x</h3>
		</div>
		<div class="col-md-6">
			<h3>Firebase</h3>
		</div>
	</div>

	</center>
</div>
<hr>
	<div class="container">
		<center>
		<footer>
		        	<p>&copy; 2017 Connections, Pvt. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
		        	<p>Designed,Developed and Maintained by: Mayank Mohindra</p>
		        	<br><br><br>
		</footer>
		</center>
		
	</div>